html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("Images/짭코스타트메뉴배경.png");
    background-repeat: no-repeat;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
#startMenuButtons {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: disappearDivStartMenuButtons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#startMenuAnimation {
    text-align: center;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    position: relative;
    animation-name: disappearInputStartMenuButtons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#stageMenuButtons {
    z-index: 7;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    animation-name: appearDivStageMenuButtons;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#stageMenuAnimation {
    z-index: 8;
    text-align: center;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    position: relative;
    animation-name: appearInputStageMenuButtons;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#choiceBox {
    visibility: visible;
    z-index: 9;
    position: relative;
    animation-name: appearChoiceBox;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#gameStartButton, #optionButton {
    z-index: 10;
}
#worldChapterButton, #futureEpisodeButton, #spaceChapterButton, #legendStoryButton {
    z-index: 10;
}

@media only screen and (width: 1920px), (height: 1080px) { /*컴퓨터1 [mine] ver2*/
    @keyframes disappearDivStartMenuButtons {
        to {
            background-color: rgba(0, 0, 0, 0);
        }
    }
    @keyframes disappearInputStartMenuButtons {
        from {
            margin-left: 0;
        }
        50% {
            margin-left: 150px;
        }
        to {
            margin-left: -3500px;
            display: none;
            visibility : hidden;
        }
    }
    @keyframes appearDivStageMenuButtons {
        45% {
            background-color: rgba(0, 0, 0, 0);
        }
        to {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    @keyframes appearInputStageMenuButtons {
        50% {
            left: 2400px;
        }
        to {
            left: 800px;
        }
    }
    @keyframes appearChoiceBox {
        to {
            visibility: visible;
        }
    }

    body {
        background-color: black;
        background-size: 1643px;
        background-position: center 0;
    }
    #startMenuButtons {
        height: 230px;
        top: 595px;
    }
    #startMenuAnimation {
        height: 230px;
    }
    #gameStartButton, #optionButton {
        width: 600px;
        height: 80px;
        margin: 10px;
        font-size: 45px;
        font-weight: bold;
    }
    #stageMenuButtons {
        height: 340px;
        top: 250px;
    }
    #stageMenuAnimation {
        height: 340px;
        left: 2000px;
    }
    #choiceBox {
        width: 350px;
        height: 300px;
        left: 780px;
        top: 20px;
        border: 2px solid rgb(0, 0, 0);
    }
    #worldChapterButton, #futureEpisodeButton, #spaceChapterButton, #legendStoryButton {
        width: 300px;
        height: 240px;
        margin-left: 5px;
        margin-right: 5px;
        /* margin-top: 85px; */
        margin-top: -250px;
    }
}

@media only screen and (width: 2560px), (height: 1600px) { /*갤탭S4 [mine]*/

}

@media only screen and (width: 2560px), (height: 1440px) { /*컴퓨터2*/

}

@media only screen and (width: 1536px), (height: 864px) { /*컴퓨터3*/

}

@media only screen and (width: 1920px), (height: 1200px) { /*갤탭A 8.0 with s pen(WUXGA해상도)*/
    
}

@media only screen and (height: 1536px), (width: 2048px) { /*아이패드3, 4*/

}

@media only screen and (height: 2048px), (width: 2732px) { /*아이패드프로*/

}

@media only screen and (height: 1440px), (width: 2960px) { /*갤8, 갤8+, 갤8액티브, 갤노트8, 갤9*/

}

@media only screen and (height: 1440px), (width: 3040px) { /*갤10, 갤10+*/

}

@media only screen and (height: 1125px), (width: 2436px) { /*아이폰X*/

}

@media only screen and (height: 1440px), (width: 3200px) { /*갤20, 갤20+*/

}